@model Person

<form method="post" asp-action="Upsert" enctype="multipart/form-data" asp-validation-summary="All">
	<input asp-for="Id" hidden />

	<div class="row">
		<div class="col-10">
			<div class="border p-3 mt-4 row">
				<div class="col-12 pb-2">
					<h2 class="text-primary">@(Model.Id != 0 ? "Dodaj" : "Edytuj")  Użytkownika</h2>
					<hr />
				</div>
				<div class="text-danger">
					<ValidationSummary />
				</div>
				<div class="mb-3">
					<label asp-for="FirstName"></label>
					<input asp-for="FirstName" class="form-control" />
					<span asp-validation-for="FirstName" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label asp-for="LastName"></label>
					<input asp-for="LastName" class="form-control" />
					<span asp-validation-for="LastName" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label asp-for="DateOfBirth"></label>
					<input asp-for="DateOfBirth" class="form-control" type="date" />
					<span asp-validation-for="DateOfBirth" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<select asp-for="Gender" class="form-control">
						<option value="">--Select Gender--</option>
						<option value="Male">Male</option>
						<option value="Female">Female</option>
					</select>
					<span asp-validation-for="Gender" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label asp-for="Position"></label>
					<input asp-for="Position" class="form-control" />
					<span asp-validation-for="Position" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label asp-for="PhoneNumber"></label>
					<input asp-for="PhoneNumber" class="form-control" />
					<span asp-validation-for="PhoneNumber" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label asp-for="Height"></label>
					<input asp-for="Height" class="form-control" />
					<span asp-validation-for="Height" class="text-danger"></span>
				</div>
				<div class="mb-3">
					<label asp-for="ShoeSize"></label>
					<input asp-for="ShoeSize" class="form-control" />
					<span asp-validation-for="ShoeSize" class="text-danger"></span>
				</div>

				<div class="col-12">
					@if (Model.Id != 0)
					{
						<button type="submit" class="btn btn-primary" style="width:150px">Edytuj</button>
					}
					else
					{
						<button type="submit" class="btn btn-primary" style="width:150px">Dodaj</button>
					}
					<a asp-controller="Person" asp-action="Index" class="btn btn-secondary" style="width:150px">
						Back to List
					</a>
				</div>

			</div>
		</div>

	</div>
</form>